/* Setting Variables */
:root {
  --color-primary: #2a9ef4;
  --color-shad1: #1d79bd;
  --color-shad2: #115385;
  --color-shad3: #042e4e;
  --color-seconderytxt: #777;
  --color-lightGrey: #f7f6f7;
  --color-midGrey: #ebe9eb;
  --color-black: #333;
  --transition-time: 0,3s;
  --section-padding: 60px;
}
/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-black);
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
  /* Container Responsive Width */
  /* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
  /* Medium */
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}
  /* Large */
@media (min-width: 1199px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

